{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
  <section class="card">
    <h2>Login</h2>
    <form method="post">
      <div class="grid">
        <label>
          Username or Email
          <input type="text" name="identity" required />
        </label>
        <label>
          Password
          <input type="password" name="password" required />
        </label>
      </div>
      <p><button type="submit">Login</button></p>
    </form>
  </section>
{% endblock %}
